{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
<div class="container">
    <h1>Product</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product.Name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product.Price }}</td>
            </tr>
            <tr>
                <th>Product Description</th>
                <td>{{ product.Description }}</td>
            </tr>
            <tr>
                <th>Publisher</th>
                <td>{{ product.Publisher.Name }}</td>
            </tr>
        </tbody>
    </table>
    {% if app.user %}
            <form action={{ path('app_add_cart',{ 'id': product.id }) }} method="get">
                <input type="number" name="quantity" placeholder="Amount"/>
                <input type="submit" value="Add" class="btn btn-success">
                <a href="{{ path('app_product_index') }}" class="btn btn-warning">Back to list</a>

                <a href="{{ path('app_product_edit', {'id': product.id}) }}" class="btn btn-warning">Edit</a>
            </form>
    {% endif %}
</div>
{% endblock %}
